<%- include('header') %>
  <form method="get" action="/cotacao">
    <input name="cotacao" type="text" placeholder="Cotação do Dolar" value="<%= cotacao %>"> <br>
    <input name="quantidade" type="text" placeholder="Qtd de dólares"> <br>
    <button>Converter!</button>
  </form>

  <%- include('footer') %>